*{
    text-decoration: none;
    list-style-type:none;
}

  .navbar{
    
     background-color: #1f2937;
  
 
}
.container{
    display: flex;
    
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.container .nav-link ul{
    display:flex;
    margin-right:70px;
    gap:10px;
    color: white;
}

.container .logo{
    margin-left:30px;
    font-weight:1000;
     color: white;
     font-size: 20px;
}
 .container1 { 

    display: flex;
    justify-content: center;
    gap: 5px;
    padding:60px;
    
     color: white;
}
.container1 .subone{
   height:200px;
    
    color:white;
}
.container1 .subone .btn{
    display:block;
     border: 2px solid rgb(236, 225, 225);
     margin:42px;
     margin-right: 222px;
     align-items: flex-start;
     background-color: #3882F6;
     color: white;
     border-radius: 10px;
     padding: 8px;
     font-weight: 900;
    
}
img{
    border-radius: 20px;
    height:250px;
    width:400px
}
.nav-link a{
    color:white
}
.subone {
    font-size: large;
}
.navbar1{
    display: flex;
    justify-content: space-evenly;
    height: 300px;
}
.navbar1 .two{
    border-radius: 12px;
    border: 3px solid #3882F6;
    width: 200px;
    padding:10px;
    margin: 40px;
}
.navbar2{display: flex;
    margin:12px;
    align-items: center;
    justify-content: center;
   text-align: center;
    height: 240px;
    background-color: rgb(234, 235, 236);

}
.navbar2 .five{
  
    margin-top: 12px;
}
.navbar3{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 200px;

}
.navbar3 .three{
    display: block;
     border-radius: 20px;
     background-color: #3882F6;
    border: 3px solid #3882F6;
    width: 800px;
    padding:30px;
    margin: 40px;
    height: 100px;
    color: white;

}
.navbar3 .three .four{
  text-align: center;
    height: 20px;
    width: 100px;
    padding:10px;
    border: 2px solid white;
    border-radius: 20px;
    margin-left: 600px;
  

}

